.left-side-nav-home {
    display: flex;
    margin-left: 200px;
    align-items: center;
    width: 240px;
    height: 40px;
    gap: 8px;
}

.left-side-nav-home:hover {
    background-color: rgb(185, 178, 178);
}

.left-side-nav-account {
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    align-items: center;
    width: 240px;
    height: 40px;
    gap: 8px;
}

.left-side-nav-drop-down {
    margin-left: 210px;
    width: 240px;
    height: 130px;
}

.left-side-nav-arrow-img {
    transform: rotate(180deg)
}

.left-side-nav-account:hover {
    background-color: rgb(185, 178, 178);
}

.left-side-nav-coming-soon {
    display: flex;
    margin-left: 200px;
    align-items: center;
    width: 240px;
    height: 40px;
    gap: 8px;
}

.left-side-nav-coming-soon:hover {
    background-color: rgb(185, 178, 178);
}

.left-side-nav-account-arrow-seperator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}


