.create_post_container-buttons {
  width: 600px;
  padding: 20px 20px 20px 20px;
  background-color: rgb(24 51 82);
  height: fit-content;
  position: relative;
  margin: auto;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  margin-bottom: 20px;
}

.create_post_container-button {
  width: 75px;
  height: auto;
  font-size: 14px;
  display: grid;
  grid-template-rows: auto auto;
  align-items: center;
  padding: 15px;
  background-color: transparent;
  border: none;
  gap: 10px;
  cursor: pointer;
  color: white
}

.create_post_container-button i {
  font-size: 30px;
  position: relative;
  bottom: 0px;
  transition-property: bottom;
  transition-duration: 0.2s;
}

.create_post_container-button:hover i {
  bottom: 5px;
}

.create_post_container-button .fa-a {
  color: white
}

.create_post_container-button .fa-camera {
  color: #D95E40
}

.create_post_container-button .fa-quote-left {
  color: #F2992E
}

.create_post_container-button .fa-link {
  color: #56BC8A
}

.create_post_container-button .fa-video {
  color: #A77DC2
}
