#footer-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.footer-icons {
  display: flex;
  align-items: center;
}

.icon-labels {
  color: white;
}

.footer-icons > a {
  color: white;
  text-decoration: none;
}

.footer-links {
  display: flex;
  align-items: center;
  column-gap: 5px;
}
