* {
  box-sizing: border-box;
  font-family: 'Arimo', sans-serif;
}

body {
  margin: 0;
  font-family: 'Arimo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Arimo', sans-serif !important;
  background-color: rgba(0, 25, 53, 1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

p {
  overflow-wrap: break-word;
}

#main-page-layout-container {
  position: relative;
}
