#right-side-container {
    position: sticky;
    top: 30px;
    justify-self: flex-start;
    background-color: rgb(24 51 82);
    border-radius: 5px;
    height: fit-content;
    padding: 20px;
}

#right-side-container h2 {
    margin: 0px
}

#right-side-container img {
    width: 50px;
    border-radius: 50px;
}

#right-side-dev-container {
    width: fit-content;
    border-radius: 10px;
}

.author-names-div {
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.author-names-div span {
    color: white;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 20px;
}

.Andrew,
.Jeffery,
.Thomas,
.Tyler {
    gap: 5px;
    color: white;
    position: relative;
    display: flex;
    gap: 20px;
    align-items: center;
}

.Andrew a,
.Jeffery a,
.Thomas a,
.Tyler a,
.aws-message-container a {
    color: white;
    padding-right: 10px;
}

.aws-message-container {
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
}
