.comments-drop-down {
    color: white;
    width: 560px;
}

/* .comments-icon-dropdown {

}

.likes-icon-dropdown {

} */

.comment-drop-down-nav {
    display: flex;
    gap: 15px;
    cursor: pointer;


}

/* .comments-new-post {
    border: 1px white solid

}

.comments-posted-comments {
    border: 1px white solid
} */

.comments-submit-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    margin-top: 5px;
}

.comments-box-and-submit {
    display: flex;
    border: white 1px solid;
    align-items: center;
    border-radius: 10px;
    margin-left: 10px;
    flex: 1;
    padding: 0px 10px;
    width: 100%;
    margin-bottom: 12px;
}

.comment-input-box-parent-div {
    flex: 1;
    padding: 5px 0 5px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    overflow-x: hidden;
    overflow-y: auto;
}

.comments-list-pfp {
    margin-left: 10px;
    border-radius: 40px;
    height: 32px;
    width: 32px;
}

.left-side-nav-current-user-pfp-comments {
    margin-left: 10px;
    border-radius: 40px;
    height: 32px;
    width: 32px;
    margin-right: 6px;
}

.comment-input-box {
    white-space: pre-line;
    font-weight: 400;
    color: white;
    word-break: break-word;
    resize: none;
    background: 0px 0px;
    border: none;
    outline: none;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    overflow: hidden;
    text-align: left;
    line-height: inherit;
    font-size: 1rem;
}

.comment-input-box::placeholder {
    color: white;
}

.comment-submit-button {
    border: none;
    background-color: rgb(24 51 82);
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
}

.comments-list-div {
    display: flex;
    width: 90%;
}

.comments-list {
    list-style: none;
    padding: 0;
    max-height: 200px;
    overflow-y: auto;
}

.comments-list li {
    border: 1px solid white;
    padding: 10px;
    margin-left: 15px;
    margin-bottom: 20px;
    border-radius: 10px;

}

.comments-list-pfp {
    margin-left: 10px;
    border-radius: 40px;
    height: 32px;
    width: 32px;

}

.likes-list {
    border: red 1px white;
}

.likes-list-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.likes-list-pfp-username {
    display: flex;
}

.likes-list-pfp-username img {
    margin-top: 10px;
    margin-right: 5px;
}

.likes-list-follow {
    cursor: pointer;
}

.likes-list-button {
    border: none;
    background-color: rgb(24 51 82);
    color: rgb(38, 139, 255);
    cursor: pointer;
    font-weight: 600;
    font-size: 15px;
    margin-right: 10px;
}

.likes-list-button:hover {
    border: none;
    background-color: rgb(24 51 82);
    color: rgb(47, 203, 250);
    cursor: pointer;
    font-weight: 600;
    font-size: 15px;
    text-decoration: underline;
}

.comment-input-area {
    white-space: pre-line;
    font-weight: 400;
    color: white;
    word-break: break-word;
    resize: none;
    background: 0px 0px;
    border: none;
    outline: none;
    width: 100%;
    margin-bottom: 10px;
    padding: 0px;
    display: flex;
    overflow: hidden;
    text-align: left;
    line-height: inherit;
    font-size: 1rem;
    overflow-y: auto;
}

.comments-list-owner-delete {
    border: none;
    background-color: rgb(24 51 82);
    color: rgb(110, 133, 169);
    font-size: 1.1rem;
    cursor: pointer;
}

.comments-list-owner-edit {
    border: none;
    background-color: rgb(24 51 82);
    color: rgb(110, 133, 169);
    font-size: 1.1rem;
    cursor: pointer;
}

.comments-list-owner-delete:hover {
    border: none;
    background-color: rgb(24 51 82);
    color: rgb(255, 0, 0);
    font-size: 1.1rem;
    cursor: pointer;
}

.comments-list-owner-edit:hover {
    border: none;
    background-color: rgb(24 51 82);
    color: rgb(0, 255, 4);
    font-size: 1.1rem;
    cursor: pointer;
}

.edit-comment-submit {
    color: rgb(0, 102, 0);
}

.edit-comment-submit:hover {
    color: rgb(14, 247, 29);
}

.edit-comment-cancel {
    color: rgb(120, 0, 0);
}

.edit-comment-cancel:hover {
    color: rgb(255, 0, 0);
}