.post-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-top: 15px; */
  /* border-top: 1px solid #908e8e; */
  /* padding-top: 10px; */
  row-gap: 20px;
  color: white;
}

.postcards {
  width: 600px;
  padding-bottom: 15px;
  /* padding: 15px 20px; */
  background-color: rgb(24 51 82);
  border-radius: 5px;
}

.user-profile-image {
  width: 32px;
  height: 32px;
  border-radius: 3px;
}

.user-header-details-container {
  padding: 15px 20px 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-header-details-container:hover {
  background-color: rgb(64, 119, 182);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
}

.user-header-details {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.posts-follow-button {
  border: none;
  background-color: transparent;
  color: #74ff1b;
  cursor: pointer;
  padding: 0px;
}

.post-settings-button {
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  font-size: 1.3rem;
}

.post-settings-dropdown {
  position: relative;
  width: fit-content;
  font-size: 14px;
}

.settings-dropdown {
  z-index: 10;
  display: flex;
  list-style-type: none;
  position: absolute;
  top: 100%;
  right: -85px;
  border: none;
  box-shadow: 0px 0px 10px black;
  width: 200px;
  background-color: rgb(24 51 82);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 0px;
  border-radius: 3px;
  margin-top: 0px;
}

.hidden {
  display: none;
}

.post-created-at {
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 200px;
  border-bottom: 1px solid gray;
}

.modal-button-li > button {
  color: white;
  font-size: 14px;
  border: none;
  background-color: rgb(24 51 82);
  cursor: pointer;
  padding: 10px 0px;
  width: 200px;
}

.modal-button-li > button:hover {
  background-color: rgb(35, 75, 120);
}

.post-edit-button,
.close-post-settings-button {
  color: white;
  font-size: 14px;
  border: none;
  background-color: rgb(24 51 82);
  cursor: pointer;
  width: 200px;
  padding: 10px 0px
  /* padding: 10px 100px; */
}

.post-edit-button:hover,
.close-post-settings-button:hover {
  background-color: rgb(35, 75, 120);
}

/* .post-edit-button:hover {
  color: #74ff1b;
} */

.modal-button-li > button {
  color: red;
}

.post-content {
  padding: 0px 20px 0px 20px
}

.post-content > p {
  font-size: 1rem;
}

.post-content figure {
  width: 100%;
  margin: auto;
}

.post-content img {
  width: 100%;
}

.post-content a {
  color: white;
}

.notes-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  margin: 0px 20px 0px 20px;
  position: relative;
  border-top: 1px solid gray;
}

.notes-comments-container {
  position: relative;
  height: 100%;
  padding: 0px 20px 0px 20px
}

.notes-button {
  font-size: 14px;
  width: fit-content;
  border-radius: 18px;
  padding: 6px 16px;
  background-color: rgb(24 51 82);
  color: white;
  border: 1px solid gray;
  cursor: pointer;
  height: 30px
}

.notes-button span:nth-child(2) {
  color: rgb(182, 182, 182);
}

.close-notes-button {
  display: flex;
  column-gap: 5px;
  font-size: 14px;
  border-radius: 18px;
  padding: 6px 16px;
  background-color: rgb(64, 119, 182);
  color: white;
  border: 1px solid transparent;
  cursor: pointer;
  height: 30px
}

.close-notes-button i{
  font-size: 12px;
}

.no-user-like-button > button {
  border: none;
  background-color: rgb(24 51 82);
  color: white;
  cursor: pointer;
  font-size: 1.3rem;
}

.posts-likes-button,
.posts-comments-button {
  border: none;
  background-color: rgb(24 51 82);
  color: rgb(182, 182, 182);
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.post-tags-container {
  margin: 10px 20px 0px 20px;
  color: lightgray;
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  padding-bottom: 10px;
}

.comments-favorite-icons-container {
  display: flex;
  column-gap: 10px;
  align-items: center;
}

figure.image {
  margin: 10px 0px;

}

figure.image img {
  width: 100%;
}

.comments-box-dropdown {
  padding-left: 0px;
}

/* RIGHT SIDE NAVIATION CSS */
