.post-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  /* border-top: 1px solid #908e8e; */
  padding-top: 10px;
  row-gap: 20px;
  color: white;
}

.postcards {
  width: 600px;
  padding: 15px 20px;
  background-color: rgb(24 51 82);
  border-radius: 10px;
}

.user-profile-image {
  width: 32px;
  height: 32px;
  border-radius: 3px;
}

.user-header-details-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-header-details {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.posts-follow-button {
  border: none;
  background-color: rgb(24 51 82);
  color: #74ff1b;
  cursor: pointer;
}

.post-settings-button {
  border: none;
  background-color: rgb(24 51 82);
  color: white;
  cursor: pointer;
  font-size: 1.3rem;
}

.post-settings-dropdown {
  position: relative;
}

.settings-dropdown {
  display: flex;
  list-style-type: none;
  position: absolute;
  top: 100%;
  right: -75px;
  border: 1px solid white;
  width: 200px;
  background-color: rgb(24 51 82);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  row-gap: 10px;
  border-radius: 3px;
  margin-top: 0px;
}

.hidden {
  display: none;
}

.post-created-at {
  padding-bottom: 7px;
  border-bottom: 1px solid white;
}

.modal-button-li > button {
  color: white;
  font-size: 1.1rem;
  border: none;
  background-color: rgb(24 51 82);
  cursor: pointer;
}

.post-edit-button,
.close-post-settings-button {
  color: white;
  font-size: 1.1rem;
  border: none;
  background-color: rgb(24 51 82);
  cursor: pointer;
  /* padding: 10px 100px; */
}

.post-edit-button:hover {
  color: #74ff1b;
}

.modal-button-li > button:hover {
  color: red;
}


.post-content>p {
  font-size: 1.1rem;
}

.post-content figure {
  width: 100%;
  margin: auto;
}

.post-content img {
  width: 100%;
}

.post-content a {
  color: white;
}

.notes-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  position: relative;
}

.notes-comments-container {
  position: relative;
  height: 100%;
}

.notes-button {
  font-size: 1rem;
  border-radius: 18px;
  padding: 6px 16px;
  background-color: rgb(24 51 82);
  color: white;
  border-color: white;
  cursor: pointer;
}

.close-notes-button {
  display: flex;
  font-size: 1rem;
  border-radius: 18px;
  padding: 6px 16px;
  background-color: rgb(64, 119, 182);
  color: white;
  border-color: white;
  cursor: pointer;
}

.no-user-like-button > button {
  border: none;
  background-color: rgb(24 51 82);
  color: white;
  cursor: pointer;
  font-size: 1.3rem;
}

.posts-likes-button,
.posts-comments-button {
  border: none;
  background-color: rgb(24 51 82);
  color: white;
  cursor: pointer;
  font-size: 1.3rem;
}

.post-tags-container {
  margin-top: 10px;
  color: lightgray;
}

.comments-favorite-icons-container {
  display: flex;
  column-gap: 10px;
}

figure.image {
  margin: 10px 0px;

}

figure.image img {
  width: 100%;
}

.comments-box-dropdown {
  padding-left: 0px;
}

/* RIGHT SIDE NAVIATION CSS */
